[submodule "src/Engine/vendor/debugbreak"]
	path = src/Engine/vendor/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "src/Engine/vendor/glm"]
	path = src/Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "src/Engine/vendor/stb"]
	path = src/Engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "src/tests/vendor/gtest"]
	path = src/tests/vendor/gtest
	url = https://github.com/google/googletest
[submodule "src/Engine/vendor/gsl"]
	path = src/Engine/vendor/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "src/Engine/vendor/entt"]
	path = src/Engine/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/Engine/vendor/yaml-cpp"]
	path = src/Engine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/Engine/vendor/tinyobjloader"]
	path = src/Engine/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "src/Engine/vendor/sdl"]
	path = src/Engine/vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "src/Engine/vendor/glslang"]
	path = src/Engine/vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "src/Engine/vendor/magic_enum"]
	path = src/Engine/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "src/Engine/vendor/vcpkg"]
	path = src/Engine/vendor/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "src/Engine/vendor/KDBindings"]
	path = src/Engine/vendor/KDBindings
	url = https://github.com/KDAB/KDBindings.git
