[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/Engine/vendor/spdlog"]
	path = src/Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/Engine/vendor/debugbreak"]
	path = src/Engine/vendor/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "src/Engine/vendor/glm"]
	path = src/Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "src/Engine/vendor/ImGui"]
	path = src/Engine/vendor/ImGui
	url = https://github.com/KyleKrein/imgui-for-BeeEngine.git
	branch = beeEngine
[submodule "src/Engine/vendor/stb"]
	path = src/Engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "src/tests/vendor/gtest"]
	path = src/tests/vendor/gtest
	url = https://github.com/google/googletest
